.form {
  width: 501px;

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 400;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(147.59deg, #E6E9F0 -15.44%, #FCFDFF 55.3%, #E6E9F0 123.15%);
  }

  &__label {
    display: block;
    border-bottom: 1px solid #fff;
    margin-bottom: 35px;
  }

  &__input {
    width: 100%;
    font-size: 32px;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(147.59deg, #E6E9F0 -15.44%, #FCFDFF 55.3%, #E6E9F0 123.15%);

    &::placeholder {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(147.59deg, #E6E9F0 -15.44%, #FCFDFF 55.3%, #E6E9F0 123.15%);
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
  }

  &__socials-item {
    display: flex;
    align-items: center;

    span {
      margin-left: 15px;
      font-size: 32px;
      font-weight: 500;
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(147.59deg, #E6E9F0 -15.44%, #FCFDFF 55.3%, #E6E9F0 123.15%);
    }
  }

  &__btn {
    margin-top: 47px;
    text-align: center;
    width: 100%;
    height: 62px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    font-size: 18px;
    font-weight: 500;
  }
}
