.header {
  padding: 21px 0;
  background-color: #9B4EFF;

  &__container {
    max-width: 1103px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contact {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  &__contact-text {
    text-transform: uppercase;
  }

  &__contact-link--tel {
    display: block;
    text-align: right;
  }

  &__logo {
    font-family: "Athelas", sans-serif;
    font-size: 32px;
    line-height: 36px;
  }
}
