@media  (max-width: 1400px) {
  .features__descr {
    justify-content: space-between;
  }

  .features__descr-info {
    margin-left: 0;
    padding-right: 20px;
  }
}

@media  (max-width: 1240px) {
  .features__info-lists {
    padding: 0 15px;
    font-size: 24px;
    line-height: 34px;
  }

  .features__btn {
    padding: 40px 15px;
  }

  .features__descr-item {
    font-size: 32px;
  }

  .ready__slider-box {
    padding: 0 20px;
  }

  .collect {
    padding: 50px 25px 100px;
  }

  .bid {
    padding: 40px 20px 130px;
  }

  .faq {
    max-width: 440px;
  }

  .portfolio .swiper-slide {
    height: 640px;
  }

  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .features__descr-image {
    width: 40%;
  }

  .features__info-main + .features__parts  {
    margin-left: 20px;
  }

  .features__edge {
    padding: 0 30px;
  }

  .extra__left-text,
  .extra__right-text {
    font-size: 36px;
    line-height: 40px;
  }

  .extra__right-product,
  .extra__left-product {
    font-size: 40px;
    line-height: 42px;

    span {
      font-size: 42px;
      line-height: 48px;
    }
  }

  .extra {
    margin-top: 70px;
    min-height: 800px;
  }

  .extra__left {
    height: 660px;
  }

  .extra__left-bg {
    width: 1000px;
    height: 100%;
  }

  .extra__left-text {
    padding-top: 90px;
  }

  .extra__left-product {
    right: -150px;
    padding-right: 0;
  }

  .extra__right {
    width: 455px;
  }

  .extra__right-bg {
    width: 650px;
  }

  .extra__pipe {
    bottom: -100px;
  }

  .extra__pipe img {
    height: 450px;
  }

  .continue {
    margin-left: 20px;
  }

  .ready {
    padding: 0 65px;
  }

  .collect__box {
    padding: 25px 10px 45px;
  }
}

@media  (max-width: 1100px) {
  .bid__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bid {
    padding: 20px;
  }

  .faq {
    margin-top: 50px;
  }

  .faq__list {
    padding: 0 20px;
  }

  .portfolio .swiper-slide {
    height: 520px;
  }

  .portfolio {
    margin-top: 50px;
  }

  h1 {
    font-size: 65px;
    line-height: 115px;
  }

  h2 {
    font-size: 42px;
    line-height: 44px;
  }

  h3 {
    font-size: 38px;
    line-height: 42px;
  }

  .features__edge-descr {
    font-size: 28px;
    line-height: 32px;
  }

  .features__info-lists {
    font-size: 20px;
    line-height: 32px;
  }

  .features__info {
    margin-top: 30px;
  }

  .features__descr-item {
    font-size: 22px;
    line-height: 36px;
  }

  .features__btn {
    padding: 20px 15px;
    font-size: 22px;
    line-height: 30px;
  }

  .extra {
    flex-direction: column;
    width: 100%;
    margin-bottom: 75px;
  }

  .extra__left-bg {
    left: -50%;
    width: 1200px;
  }

  .extra__left-product {
    padding-top: 50px;
    right: 0;
  }

  .extra__right {
    width: 100%;
  }

  .extra__right-bg {
    right: -170px;
  }

  .extra__pipe {
    bottom: -70px;
    left: 50%;
  }

  .extra__pipe img {
    height: 380px;
    width: 235px;
  }

  .collect__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .collect__item {
    margin: 0 auto;
  }

  .modal__container {
    width: 95%;
  }

  .modal__ready,
  .modal__collect {
    .faq {
      margin-top: 0;
      max-width: 395px;
    }
  }
}

@media  (max-width: 1024px) {
  .collect__box {
    padding: 25px 40px 45px;
  }

  .extra__pipe {
    left: 45%;
  }
}

@media  (max-width: 930px) {
  .extra__pipe {
    left: 40%;
  }

  .modal__container {
    max-width: 350px;
  }

  .modal__close {
    font-size: 14px;
    line-height: 17px;
    padding: 9px 12px 9px 17px;
    font-weight: 500;
  }

  .modal__collect {
    padding: 0;

    .form {
      padding: 100px 32px 0;
    }

    .form__title {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 25px;
    }

    .form__label {
      margin-bottom: 25px;
    }

    .form__input {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .form__socials-item {
      svg {
        width: 25px;
        height: 25px;
      }

      span {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .faq {
      margin-top: 30px;
      padding: 0;
      padding-left: 20px;
    }

    .faq__list {
      li + li {
        margin-top: 10px;
      }
    }

    .faq__title {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 15px;
    }

    .faq__list-item {
      font-size: 12px;
      line-height: 14px;
    }

    .collect__btn-summ {
      position: absolute;
      top: 18px;
      right: 0;
      max-width: 110px;
      height: 35px;

      span {
        display: none;
      }

      .calc__result {
        display: block;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .continue {
      margin-left: 0;
      border-radius: 0;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 35px;
    }
  }

  .modal__collect-inner {
    flex-direction: column;
  }

  .modal__ready {
    padding: 0;
    flex-direction: column;

    .ready__price {
      font-size: 14px;
      line-height: 17px;
      padding: 9px 12px 9px 17px;
    }

    .ready__info-title {
      display: block;
      margin-top: 23px;
      margin-left: 14px;
      font-size: 18px;
      line-height: 21px;
    }

    .ready__item-image {
      display: block;
      width: 270px;
      height: 150px;
      margin: 40px auto 0;
    }

    .ready__image {
      display: block;
    }

    .form {
      padding: 40px 32px 65px;
    }

    .form__title {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 25px;
    }

    .form__label {
      margin-bottom: 25px;
    }

    .form__input {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .form__socials-item {
      svg {
        width: 25px;
        height: 25px;
      }

      span {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .faq__title,
    .faq__list {
      display: none;
    }

    .form__btn {
      margin-top: 0;
      border-radius: 0;
      border-bottom-left-radius: 36px;
      border-bottom-right-radius: 36px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media  (max-width: 845px) {
  .extra__pipe {
    left: 30%;
  }
}


@media  (max-width: 768px) {
  .header__logo {
    font-size: 14px;
    line-height: 15px;
  }

  .header__contact {
    font-size: 10px;
    line-height: 11px;
  }

  .main {
    min-height: 330px;
  }

  .main__subtitle {
    margin-top: 40px;
    font-size: 12px;
    line-height: 14px;
  }

  h1 {
    font-size: 41px;
    line-height: 51px;
  }

  .main__numbers {
    margin-top: 25px;
    max-width: 330px;
  }

  .main__btn {
    margin-top: 30px;
    font-size: 11px;
    line-height: 12px;
    padding: 15px 24px;

  }

  .main__number svg {
    width: 63px;
    height: 30px;
  }

  .main__number-text {
    font-size: 12px;
    line-height: 14px;
  }

  .main__video-btn {
    width: 55px;
    height: 55px;
    svg {
      width: 25px;
      height: 25px;
    }
  }

  .features {
    padding-top: 25px;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .features__edge {
    margin-top: 35px;
  }

  .features__edge-car {
    width: 62px;
    height: 30px;
  }

  .features__edge-medal {
    width: 32px;
    height: 42px;
  }

  .features__edge-time {
    width: 42px;
    height: 42px;
  }

  .features__edge-descr {
    margin-top: 6px;
    font-size: 10px;
    line-height: 12px;
  }

  .features__edge {
    justify-content: space-evenly;
  }

  .features__info {
    margin-top: 22px;
  }

  h3 {
    font-size: 13px;
    line-height: 15px;
  }

  .features__info-lists {
    margin-top: 31px;
    font-size: 12px;
    line-height: 15px;
  }

  .features__descr {
    margin-top: 40px;
  }

  .features__descr-item {
    font-size: 12px;
    line-height: 20px;
  }

  .features__descr-image {
    height: 195px;
    width: initial;
  }

  .features__btn {
    margin-top: 14px;
    font-size: 12px;
    line-height: 14px;
    padding: 13px 15px 11px;
  }

  .descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 18px;
  }

  .ready {
    padding: 0 20px;
    margin: 50px 0;
  }

  .ready__inner {
    margin-top: 18px;
  }

  .ready__tabs-btn {
    font-size: 12px;
    line-height: 14px;
    width: 108px;
    height: 37px;
    padding: 12px 9px;
  }

  .tabs__arrow {
    display: none;
  }

  .ready__price {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    padding: 9px 17px;
    letter-spacing: 0.08em;
  }

  .ready__info {
    flex-direction: column;
  }

  .ready__info-left {
    padding-top: 0;
    max-width: 100%;
  }

  .ready__item-image {
    max-width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
  }

  .ready__image-box {
    max-width: 270px;
  }

  .ready__info-details {
    padding-left: 15px;
  }

  .ready__info-title {
    font-size: 18px;
    line-height: 21px;
  }

  .ready__info-descr {
    max-width: 240px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
  }

  .ready__info-right {
    max-width: 100%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ready__right-title {
    display: none;
  }

  .ready__colors {
    padding-left: 0;
  }

  .ready__materials {
    margin-top: 28px;
  }

  .ready__product-name {
    font-size: 12px;
    line-height: 14px;
  }

  .ready__materials {
    align-items: center;

    .ready__product-type {
      width: 80px;
    }

    label + label {
      margin-left: 20px;
    }
  }

  .ready__continue {
    border-radius: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }

  .collect {
    padding: 0 20px;
  }

  .portfolio__wave-top,
  .portfolio__wave-bottom {
    svg {
      height: 40px;
    }
  }

  .portfolio .swiper-slide {
    height: 325px;
    width: 100%;
  }

  .extra__left {
    height: 395px;
  }

  .extra__left-bg {
    height: 350px;
    width: 650px;
    left: -20%;
  }

  .extra__table-white {
    height: 185px;
    width: 420px;
    bottom: 100px;

    img {
      height: 100%;
    }
  }

  .extra__table-black {
    height: 200px;
    width: 470px;
    bottom: -30px;

    img {
      height: 100%;
    }
  }

  .extra__left-text {
    padding-top: 30px;
    font-size: 28px;
    line-height: 30px;
  }

  .extra__left-product {
    padding-right: 20px;
    font-size: 24px;
    line-height: 24px;
    right: 30%;

    span {
      font-size: 28px;
      line-height: 30px;
    }
  }

  .extra__right {
    height: 400px;
  }

  .extra__right-bg {
    width: 580px;
    height: 310px;
  }

  .extra__right-text {
    font-size: 28px;
    line-height: 30px;
    padding-top: 0;
    padding-right: 15px;
  }

  .extra__right-product {
    padding-right: 20px;
    font-size: 24px;
    line-height: 24px;

    span {
      font-size: 28px;
      line-height: 30px;
    }
  }

  .extra__pipe {
    left: 35%;
  }

  .bid {
    padding: 20px 0 80px;
  }

  .bid__inner {
    margin-top: 43px;
  }

  .form {
    min-width: 275px;
  }

  .form__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
  }

  .form__label {
    margin-bottom: 30px;
  }

  .form__input {
    font-size: 18px;
    line-height: 22px;
  }

  .form__socials-item {
    svg {
      width: 25px;
      height: 25px;
    }

    span {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .faq {
    max-width: 100%;
  }

  .faq__title {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }

  .faq__list {
    margin-top: 30px;

    li + li {
      margin-top: 10px;
    }
  }

  .faq__list-item {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.035em;
  }

  .faq__copyright {
    margin-top: 33px;
    font-size: 18px;
    line-height: 20px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }

  .footer__copyright-descr {
    font-size: 10px;
    line-height: 10px;
  }

  .collect__box {
    padding: 18px 0 0;
    min-height: 632px;
  }

  .collect__items {
    grid-gap: 28px;
  }

  .collect__cancel {
    display: block;
    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
    box-shadow: 4px 4px 30px rgba(42, 46, 56, 0.25);
    border-radius: 19px;
    color: #000;
    padding: 9px 17px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.08em;

    span {
      display: none;
    }
  }

  .collect__item {
    width: 160px;
    min-height: 55px;
    text-align: center;
    padding: 3px;
  }

  .collect__item-img {
    display: none;
  }

  .collect__item-info {
    font-size: 16px;
    line-height: 19px;
  }

  .collect__item-title {
    min-height: 28px;
  }

  .collect__btn {
    font-size: 18px;
    line-height: 20px;
  }

  .collect__btn-summ {
    position: absolute;
    right: 0;
    top: 18px;
    width: 130px;
    height: 34px;
    padding: 9px;

    span {
      display: none;
    }

    .calc__result {
      display: block;
    }
  }

  .continue {
    margin-left: 0;
    max-width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
  }
}

@media  (max-width: 680px) {
  .extra__pipe {
    left: 20%;
  }

  .extra__left-bg {
    left: -30%;
  }

  .extra__left-product {
    right: 15%;
  }
}

@media  (max-width: 575px) {
  .extra__pipe {
    left: 15%;
  }

  .extra__right {
    margin-top: 50px;
  }

  .extra__table-black {
    height: 165px;
    width: 405px;
    bottom: 0px;
  }

  .extra__table-white {
    height: 145px;
    width: 330px;
    bottom: 120px;
  }

  .extra__left-bg {
    left: -50%;
  }

  .extra__left-product {
    right: 10%;
  }
}

@media  (max-width: 475px) {
  .ready__materials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    label + label {
      margin-left: 0;
    }
  }

  .ready__info-descr {
    margin-top: 25px;
  }

  .ready__tabs-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .ready__tabs-item {
    margin-bottom: 20px;
  }
}

@media  (max-width: 425px) {
  .collect__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

