.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(43, 45, 101, 0.6);
  backdrop-filter: blur(30px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
}

.modal::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.modal__container {
	position: relative;
  max-width: 1050px;
  width: 100%;
	margin: 50px auto;
	display: none;
	vertical-align: middle;
	cursor: default;
  text-align: center;
  border-radius: 12px;
  min-height: 527px;
  background-color: #eff1f6;
  border-radius: 35px;
  box-shadow: 16px 18px 10px 4px rgba(58, 59, 61, 0.9);
  color: #1C1C1C;
}

.modal.is-open {
	opacity: 1;
	visibility: visible;
}

.modal__container.modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
}

.fade.animate-open {
	opacity: 1;
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.modal__ready {
  min-height: 527px;
  display: flex;
  justify-content: space-between;
  color: #1C1C1C;
  text-align: left;
  padding: 100px 18px 40px;

  .form__title,
  .form__input,
  .form__socials-item span,
  .faq__title {
    color: #1C1C1C;
  }

  .form__label {
    border-bottom: 1px solid #000;
  }

  .form__socials-item svg {
    fill: #fff;
  }

  .form__title,
  .faq__title {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 30px;
  }

  .form__input::placeholder {
    color: #1C1C1C;
  }

  .faq {
    max-width: 485px;
  }

  .faq__list {
    margin-top: 20px;
  }

  .faq__list-item {
    font-size: 18px;
  }

  .ready__info-title {
    display: none;
  }

  .ready__item-image {
    display: none;
  }
}

.modal__collect {
  min-height: 527px;
  padding: 100px 18px 40px;
}

.modal__collect-inner {
  display: flex;
  justify-content: space-between;
  color: #1C1C1C;
  text-align: left;

  .form__title,
  .form__input,
  .form__socials-item span,
  .faq__title {
    color: #1C1C1C;
  }

  .form__label {
    border-bottom: 1px solid #000;
  }

  .form__socials-item svg {
    fill: #fff;
  }

  .form__title,
  .faq__title {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 30px;
  }

  .form__input::placeholder {
    color: #1C1C1C;
  }

  .faq {
    max-width: 485px;
  }

  .faq__list {
    margin-top: 20px;
  }

  .faq__list-item {
    font-size: 18px;
  }
}

.modal__close {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 13px 38px 21px 35px;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}



