.portfolio {
  margin-top: 100px;

  &__wrapper {
    position: relative;
  }

  &__slider {
    margin-top: 28px;
    overflow: hidden;
  }

  .swiper-slide {
    position: relative;
    width: 1127px;
    height: 880px;
  }

  .swiper-slide__img {
    object-fit: cover;
    object-position: center;
  }

  &__wave-top {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
  }

  &__wave-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
  }

  &__wave-top,
  &__wave-bottom {
    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 80px;
      transform: rotateY(180deg);
    }
  }

  &__wave-fill {
    fill: #1E1E1E;
    opacity: 1;
  }
}





