html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "TTNorms", sans-serif;
  color: #fff;
}

.body__scroll {
  overflow-y: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
  height: 100%;
  border-style: none;
  object-fit: cover;
  font-size: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

main {
  background: linear-gradient(115.53deg, #434343 4.45%, #000000 98.08%);
}

h2 {
  font-family: "Colus", sans-serif;
  font-size: 70px;
  line-height: 88px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(147.59deg, #E6E9F0 -15.44%, #FCFDFF 55.3%, #E6E9F0 123.15%);
}

